footer {
	background-color: pink;
	text-align: center;
}

header {
	height: 10vh;
	font-size: 2rem;
	padding-left: 25px;
	display: flex;
	align-items: center;
	color: #a81f00;
	border-bottom: thin #E0E0E0 solid;
}

.menu {
	background-color: #ffefe550;
}

.default-menu {
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-size: large;
}

.todo-holder {
	padding: 5px 15px;
}

.todo-holder:hover {
	background-color: #F1F9FF;
}

.projects-menu>div:first-of-type {
	color: #a81f00;
	display: flex;
	justify-content: space-between;
	padding: 5px 15px;
	font-size: 24px;
}

.projects-menu div:first-of-type>button {
	background-color: transparent;
	color: #a81f00;
	border: none;
}

.main-container {
	color: white;
}

form {
	display: flex;
	flex-direction: column;
}

.main-container {
	padding: 20px;
}

.head {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.head>h3 {
	font-size: 2rem;
	color: #a81f00;
}

.head>button {
	background-color: #a81f00;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	border: none;
	padding: 12px 20px;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.head>button:hover {
	background-color: #831901;
}

.todo {
	background-color: #f9f9f9;
	color: #333333;
	border: #ffefe550 2px solid;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	transition: box-shadow 0.3s ease;
	display: grid;
	grid-template-columns: 20px 1fr 100px 40px;
	gap: 15px;
	padding: 15px;
}

.todo:hover {
	box-shadow: 0 2px 8px #9c8b8162;
}

.todo-container {
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 15px;
}

.todo>button {
	color: rgba(255, 0, 0, 0.527);
	font-weight: bold;
	border: none;
	background: transparent;
}

.todo>button:hover {
	color: rgba(255, 0, 0, 0.753);
}

.todo-due-title {
	font-style: italic;
	color: #666666;
}