footer {
	background-color: pink;
	text-align: center;
}

header {
	height: 10vh;
	font-size: 2rem;
	padding-left: 25px;
	display: flex;
	align-items: center;
	background-color: #120D31;
	color: #fff8f0;
}

.menu {
	background-color: #120D31;
	padding: 10px;
}

.default-menu {
	background-color: pink;
}

.projects-menu {
	background-color: aqua;
}

.projects-menu div:first-of-type {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	font-size: 24px;
}

.projects-menu div:first-of-type>button {
	background-color: transparent;
	border: none;
}

.main-container {
	background-color: #7EA3CC;
}

form {
	display: flex;
	flex-direction: column;
}

.main-container {
	padding: 20px;
}

.head {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.head>h3 {
	font-size: 2rem;
}

.head>button {
	padding: 3px 13px;
	font-size: 2rem;
}

.todo {
	background-color: #6E5ED4;
	color: #fff8f0;
	display: grid;
	grid-template-columns: 20px 1fr 100px 40px;
	gap: 15px;
	padding: 15px;
}

.todo-container {
	background-color: #A7C0DC;
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 15px;
}